{
  "arrowParens": "always",
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "endOfLine": "auto",
  "printWidth": 100,
  "useTabs": false,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "proseWrap": "never",
  "jsxBracketSameLine": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}
